<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--环境数据库配置-->
<configuration>

    <!--将数据库中下划线风格的命名风格央射为java中的驼峰命名风格-->
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!--别名-->
    <typeAliases>
        <!--<typeAlias type="com.kaishengit.entily.Admin" alias="Admin"/>--><!--设置类对象的别名，这个只是针对一个java类，如果有多个
        java类需要设置别名，那么使用这种方法啊就要配置多个别名-->
        <package name="com.kaishengit.entily"/><!--这种方法时配置一个包下所有java累的央射。并且使用类对象时需要把类对象小写。-->
    </typeAliases>

    <environments default="case"><!--可以在这个节点下配置多个数据库节点，也就是配置多个数据库环境。
        数据库环境是environment节点配置的数据库信息，其中environment节点中的id对应environments中的id

    -->
        <environment id="dev"><!--支持多个DataSource环境，也就是支持不同的数据环境-->
            <transactionManager type="JDBC"></transactionManager><!--事务管理器-->
            <dataSource type="POOLED"><!--polled是创建数据库连接池，参数为unpolled是不创建数据库连接池-->
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql:///t_book?useSSL=false"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource><!--配置数据库的连接属性-->
        </environment>

        <environment id="case"><!--支持多个DataSource环境，也就是支持不同的数据环境-->
            <transactionManager type="JDBC"></transactionManager><!--事务管理器-->
            <dataSource type="POOLED"><!--polled是创建数据库连接池，参数为unpolled是不创建数据库连接池-->
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql:///mydb?useSSL=false"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource><!--配置数据库的连接属性-->
        </environment>
    </environments>


    <!--配置Mapper文件-->
    <mappers>
        <!--classpath中的路径-->
        <mapper resource="mapper/AdminMapper.xml"/>
        <mapper resource="mapper/DeptMapper.xml"/>
        <mapper resource="mapper/UserMapper.xml"/>
    </mappers>

</configuration>