<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaishengit.mapper.AccountMapper">
    <select id="findById" resultType="com.kaishengit.mapper.AccountMapper">
        SELECT
            t_account.id,
            user_name,
            address,
            PASSWORD,
            dept_id,
            dept_department
        FROM
            t_account
        LEFT JOIN t_dept ON t_account.dept_id = t_dept.id
        WHERE
            t_account.id = #{id}
    </select>
</mapper>